@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?3g27na');
  src:
    url('fonts/icomoon.eot?3g27na#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?3g27na') format('woff2'),
    url('fonts/icomoon.ttf?3g27na') format('truetype'),
    url('fonts/icomoon.woff?3g27na') format('woff'),
    url('fonts/icomoon.svg?3g27na#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.font-whitebox-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dash:before {
  content: '\e901';
}
.icon-ok:before {
  content: '\e910';
}
.icon-chevronUp:before {
  content: '\e904';
}
.icon-chevronDown:before {
  content: '\e905';
}
.icon-chevronLeft:before {
  content: '\e906';
}
.icon-chevronRight:before {
  content: '\e907';
}
.icon-bullet:before {
  content: '\e900';
}
.icon-burger:before {
  content: '\e902';
}
.icon-calendar:before {
  content: '\e903';
}
.icon-duracion:before {
  content: '\e908';
}
.icon-exit:before {
  content: '\e909';
}
.icon-mail:before {
  content: '\e90a';
}
.icon-ok-circle:before {
  content: '\e90b';
}
.icon-persona:before {
  content: '\e90c';
}
.icon-phone:before {
  content: '\e90d';
}
.icon-pin:before {
  content: '\e90e';
}
.icon-search:before {
  content: '\e90f';
}
